RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) index.php
RewriteRule bot.php index.php

<FilesMatch "\.(js|css)$">
Header set Cache-Control "max-age=3600, public"
</FilesMatch>

<FilesMatch "\.(png|jpg)$">
Header set Cache-Control "max-age=86400, public"
</FilesMatch>